.form-title {
  font-size: 300%;
  background: linear-gradient(to top right, #44c298, #40abb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-desc {
  font-size: 90%;
  color: #444a;
}

.form-group {
  background: #f4f8f7;
  width: 350px;
  height: 45px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  padding: 7px;

  .icon {
    border: 1px solid red;
  }
  
  input {
    border: none;
    color: #3339;
    background: transparent;
    margin-left: 10px;
    flex-grow: 1;
  }
}