.form-title {
  font-size: 300%;
  background: linear-gradient(to top right, #44c298, #40abb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: {
    bottom: 10px;
  } 
}

.form-desc {
  font-size: 90%;
  color: #444a;
  margin: {
    bottom: 20px;
  }
}

.form-group {
  background: darken(#f4f8f7, 2%);
  width: 420px;
  height: 45px;
  margin-bottom: 12px;
  text-align: center;
  display: flex;
  padding: 7px;

  .icon {
    border: 1px solid red;
  }
  
  input {
    border: none;
    color: #3339;
    background: transparent;
    margin-left: 10px;
    flex-grow: 1;
  }
}