#layer {
  z-index: 20;
}

#layer .background {
  z-index: 19;
}

#layer button {
  z-index: 21;
}

#layer .content {
  z-index: 20;
}

.back-circle {
  // z-index: -9999;
}

.back-triangle {
  // z-index: -9999;
}