#layer {
  position: absolute;
  top: 0;
  width: 40vw;
  height: 100vh;
  background: #0000;
  transition: 0.8s;
  transition-delay: 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.signin {
    left: 60vw;
    animation: hdcbwshdbc 1s ease-in-out;

    .background {
      left: -60vw;
    }
  }
  
  &.signup {
    left: 0;
    animation: hdcbwshdbc 1s ease-in-out reverse;
    
    .background {
      left: 0;
    }
  }
  
  .background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    background-image: linear-gradient(to top right, #44c298, #40abb4);

    h1 {
      color: #e9e8e8;
    }
  }

  button {
    position: absolute;
    background: transparent;
    border: 1.3px solid #f4f4f4;
    padding: 14px;
    text-align: center;
    width: 260px;
    letter-spacing: 2.5px;
    border-radius: 999px;
    color: #f4f4f4;
    cursor: pointer;
  }
}

@keyframes hdcbwshdbc {
  0% {
    width: 40vw;
    left: 0;
  }
  10% {
    left: 0vw;
  }
  50% {
    width: 60vw;
  }
  90% {
    left: 60vw;
  }
  100% {
    width: 40vw;
    left: 60vw;
  }
}


.shape {
  position: absolute;

  &.circle {
    width: 0px;
    height: 0px;
    border: 190px solid #ccc3;
    border-radius: 999px;
    background: transparent;
    left: -10vw;
    top: 67vh;
    transform: rotateZ(13deg);
  }
  
  &.square {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    left: 25vw;
    top: 12vh;
    transform: rotateZ(38deg);
  }
  
  &.triangle {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 60px;
    border-bottom-width: 82px;
    border-left-width: 60px;
    border-right-width: 75px;
    left: 37vw;
    top: 37vh;
    transform: rotateZ(30deg);
  }
  
  &.rectangle {
    width: 50px;
    height: 24px;
    background: #ccc3;
    left: 32vw;
    top: 72vh;
    transform: rotateZ(35deg);
  }
  
  &.square2 {
    width: 70px;
    height: 70px;
    background: #ccc3;
    left: 52vw;
    top: 32vh;
    transform: rotateZ(-35deg);
  }
  
  &.rectangle2 {
    width: 50px;
    height: 24px;
    background: #ccc3;
    left: 66vw;
    top: 32vh;
    transform: rotateZ(17deg);
  }
}