#layer {
  position: absolute;
  top: -2vh;
  width: 35vw;
  height: 100vh;
  background: #0000;
  transition: 0.8s;
  transition-delay: 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.signin {
    left: 63vw;
    
    .background {
      left: -63vw;
    }
  }
  
  &.layer-signin-anim {
    animation: layerAnim 1s ease-in-out;
  }
  
  &.signup {
    left: -2vw;
    
    .background {
      left: -2vw;
    }
  }
  
  &.layer-signup-anim {
    animation: layerAnim 1s ease-in-out reverse;
  }
  
  button {
    color: #444 !important;
    border-color: #4440 !important;
    transition: 2.2s;
    width: 1000px !important;
    
    &.signin {
      background: #f006 !important;
    }
    
    &.signup {
      background: #ff06 !important;
    }
  }

  .shape {
    border-color: #4444;
    background: #4444;
  }

  .background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    background-image: linear-gradient(to 0 right, #44c298, #40abb4);

    h1, .text {
      color: #e9e8e8;
      color: #444;
    }
    
    .content {
      // border: 1px solid orange;
      position: relative;
      margin-top: 34vh;
      
      .signin-area {
        width: 35%;
        text-align: center;
        margin-bottom: 2vh;
        position: absolute;
        right: 2vw;
        
        h1 {
          font-size: 270%;
          font-weight: 400;
          margin-bottom: 2vh;
          text-shadow: 1px 1px red;
        }
        
        .text {
          width: 60%;
          margin: 0 auto;
          line-height: 3.5vh;
        }
      }
      
      .signup-area {
        width: 35%;
        text-align: center;
        margin-bottom: 2vh;
        margin-left: 2vw;
        
        h1 {
          font-size: 270%;
          font-weight: 400;
          margin-bottom: 2vh;
          text-shadow: 2px 2px yellow;
        }
        
        .text {
          width: 50%;
          margin: 0 auto;
          line-height: 3.5vh;
        }
      }
    }
  }

  button {
    display: block;
    font-size: 115%;
    background: transparent;
    border: 1.3px solid #f4f4f4;
    padding: 18px;
    text-align: center;
    width: 260px;
    letter-spacing: 2px;
    font-weight: 100;
    border-radius: 999px;
    color: #f4f4f4;
    cursor: pointer;
    margin-top: 22vh;
  }
}

@keyframes layerAnim {
  0% {
    width: 35vw;
    left: -2vw;
  }
  10% {
    left: -2vw;
  }
  50% {
    width: 60vw;
  }
  90% {
    left: 63vw;
  }
  100% {
    width: 35vw;
    left: 63vw;
  }
}


.shape {
  position: absolute;

  &.circle {
    width: 0px;
    height: 0px;
    border: 190px solid #ccc3;
    border-radius: 999px;
    background: transparent;
    left: -10vw;
    top: 67vh;
  }
  
  &.square {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    left: 25vw;
    top: 12vh;
    transform: rotateZ(38deg);
  }
  
  &.triangle {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 60px;
    border-bottom-width: 82px;
    border-left-width: 60px;
    border-right-width: 75px;
    left: 33vw;
    top: 37vh;
    transform: rotateZ(30deg);
  }
  
  &.rectangle {
    width: 50px;
    height: 24px;
    background: #ccc3;
    left: 27vw;
    top: 72vh;
    transform: rotateZ(35deg);
  }
  
  &.square2 {
    width: 70px;
    height: 70px;
    background: #ccc3;
    left: 52vw;
    top: 32vh;
    transform: rotateZ(-35deg);
  }
  
  &.rectangle2 {
    width: 50px;
    height: 24px;
    background: #ccc3;
    left: 66vw;
    top: 32vh;
    transform: rotateZ(17deg);
  }
  
  &.triangle2 {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 180px;
    border-bottom-width: 240px;
    border-left-width: 180px;
    border-right-width: 225px;
    left: 83vw;
    top: -10vh;
    transform: rotateZ(140deg);
  }

  &.triangle3 {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 60px;
    border-bottom-width: 100px;
    border-left-width: 60px;
    border-right-width: 75px;
    left: 83vw;
    top: 87vh;
    transform: rotateZ(165deg);
  }

  &.circle2 {
    width: 0px;
    height: 0px;
    border: 30px solid #ccc3;
    background: transparent;
    border-radius: 9999px;
    left: 67vw;
    top: 70vh;
  }

  &.square3 {
    width: 0px;
    height: 0px;
    border: 20px solid #ccc3;
    background: transparent;
    left: 93vw;
    top: 54vh;
    transform: rotateZ(-165deg);
  }
}