#form {
  border: 1px solid red;
  position: absolute;
  width: 65vw;
  height: 100vh;
  top: -2vh;
  transition: 1s;
  transition-delay: .1s;
  background: #3338;

  &.signup {
    left: 33vw;
  }
  
  &.signin {
    left: -2vw;
  }
}