#form {
  position: absolute;
  width: 65vw;
  height: 100vh;
  top: -2vh;
  transition: 1s;
  transition-delay: .1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.signup {
    left: 33vw;
  }
  
  &.signin {
    left: -2vw;
  }
  
  button {
    border: none;
    border-radius: 9999px;
    color: #f4f4f4;
    width: 260px;
    height: 60px;
    font-size: 115%;
    background-image: linear-gradient(to top right, #44c298, #40abb4);
    cursor: pointer;
    margin: {
      top: 30px;
    }
  }
}