#app-header {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 170px;
  height: 60px;
  z-index: 9999;
  background: #222;
  color: #eee;
  border-radius: 9999px;
  overflow: hidden;
  cursor: pointer;
  padding: {
    top: 7px;
    left: 33px;
  }

  &:hover {
    padding-left: 72px;

    .circle {
      right: 117px;
    }
  }

  .circle {
    width: 46px;
    height: 46px;
    background: #eee;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 9999px;
  }
}